<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibble.hashcaller">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" /> <!-- https://github.com/klinker41/android-smsmms -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.notifications.HashCaller"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".view.ui.profile.ProfileActivity"></activity>
        <activity
            android:name=".view.ui.sms.spam.SpamSMSActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.call.spam.SpamCallsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.call.history.CallhistoryActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.call.search.CallLogSearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.notifications.ManageNotificationsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.blockConfig.blockList.BlockListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.manageblock.BlockManageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.settings.SettingsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.call.individualCallLog.IndividualCallLogActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.contacts.search.FulllSearchResultsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.sms.search.SearchSMSActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".view.ui.contactSelector.ContactSelectorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.sms.send.SendTestActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.MyCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.ui.auth.ActivityVerifyOTP"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.sms.schedule.ScheduleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.ui.sms.individual.SampleActivity"
            android:label="@string/title_activity_sample"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ui.auth.PermissionRequestActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.app.role.SMS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.IncommingCall.ActivityIncommingCallView"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".view.ui.auth.getinitialInfos.GetInitialUserInfoActivity"
            android:theme="@style/AppTheme" /> <!-- https://developer.android.com/training/keyboard-input/visibility -->
        <!-- important adjust resize ensure that view that all of your layout content is accessible -->
        <activity
            android:name=".view.ui.contacts.search.ActivitySerchContacts"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ui.auth.ActivityEnterOTP"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="com.google.android.safetynet.ATTEST_API_KEY"
                android:value="@string/safety_net_api_key" />
        </activity>
        <activity
            android:name=".view.ui.auth.ActivityPhoneAuth"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.ui.splashactivity.SplashActivity">
            <meta-data
                android:name="com.google.android.safetynet.ATTEST_API_KEY"
                android:value="@string/safety_net_api_key" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.contacts.individualContacts.IndividualCotactViewActivity"
            android:theme="@style/AppTheme" /> <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity
            android:name=".view.ui.sms.individual.IndividualSMSActivity"
            android:parentActivityName=".view.ui.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- android:windowSoftInputMode="adjustNothing" https://stackoverflow.com/questions/4207880/android-how-do-i-prevent-the-soft-keyboard-from-pushing-my-view-up#:~:text=I%20was%20able%20to%20avoid,that%20sits%20above%20the%20buttons.&text=didnt.&text=This%20worked%20like%20a%20charm,Its%20smoother.> -->
            <!-- prent activity is need to define the natural hierarchy of the application / navigation -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.blockConfig.ActivityCreteBlockListPattern"
            android:theme="@style/AppTheme" />
        <!--
@style/Theme.MaterialComponents.DayNight set for Error inflating class material.bottomnavigation.BottomNavigationView
       in mainactivity theme
        -->
        <activity
            android:name=".view.ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustPan" /> <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".view.ui.sms.services.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <data android:scheme="SMS" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service android:name="com.android.mms.transaction.TransactionService" />

        <receiver
            android:name=".utils.SmsStatusSentReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
                <action android:name="myhashcallersms" />
                <!-- and some more actions if you want -->
            </intent-filter>
        </receiver> <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <!-- <receiver -->
        <!-- android:name=".view.ui.sms.recievers.MmsReceiver" -->
        <!-- android:permission="android.permission.BROADCAST_WAP_PUSH"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" /> -->
        <!-- <data android:mimeType="application/vnd.wap.mms-message" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- from simple sms -->
        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.MmsSentReceiver"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />
        <receiver
            android:name=".utils.MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.MarkAsReadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.simplemobiletools.smsmessenger.action.mark_as_read" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.DirectReplyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.simplemobiletools.smsmessenger.action.reply" />
            </intent-filter>
        </receiver> <!-- from simple sms -->
        <receiver android:name=".utils.SmsStatusDeliveredReceiver">
            <intent-filter>

                <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver> <!-- Broadcast receiver that listen for SMS -->
        <receiver
            android:name=".view.ui.sms.recievers.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>

                <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.callReceiver.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".view.ui.sms.services.SaveSmsService"
            android:exported="false" />

        <receiver android:name=".repository.spam.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>