<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibble.hashcaller">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />


    <application
        android:name=".utils.notifications.HashCaller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ui.auth.PermissionRequestActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <category android:name="android.app.role.SMS"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.IncommingCall.ActivityIncommingCallView" />
        <activity android:name=".view.ui.auth.GetInitialUserInfoActivity" />
        <activity android:name=".view.ui.contacts.search.ActivitySearchPhone" />
        <activity android:name=".view.ui.auth.ActivityEnterOTP" />
        <activity android:name=".view.ui.auth.ActivityPhoneAuth" />
        <activity android:name=".view.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.contacts.IndividualContacts.IndividualCotactViewActivity" />

        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name=".view.ui.sms.individual.IndividualSMSActivity"
            android:parentActivityName=".view.ui.MainActivity"
            > <!--prent activity is need to define the natural hierarchy of the application / navigation -->
            <intent-filter >
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <activity android:name=".view.ui.blockConfig.ActivityCreteBlockListPattern" />
        <activity
            android:name=".view.ui.MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".utils.IncomingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    <!-- Broadcast receiver that listen for SMS  -->
        <receiver
            android:name=".view.ui.sms.recievers.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">

                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.SentReceiver" android:enabled="true">
            <intent-filter>
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
                <action android:name="myhashcallersms" />
                <!-- and some more actions if you want -->
            </intent-filter>
        </receiver>


        <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".view.ui.sms.services.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <data android:scheme="SMS" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".view.ui.sms.services.SaveSmsService"
            android:exported="false" />

        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name=".view.ui.sms.recievers.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

    </application>

</manifest>